---
// HackerNews-style header
---

<header style="background: var(--brand); padding: 0.2em 0.4em;">
  <table style="width: 100%; max-width: 1200px; margin: 0 auto; border: 0; cellspacing: 0; cellpadding: 0;">
    <tr>
      <td style="width: 18px; padding-right: 0.4em;">
        <a href="/">
          <svg width="18" height="18" viewBox="0 0 24 24" fill="white">
            <path d="M12 2L2 12h3v8h6v-6h2v6h6v-8h3L12 2z"/>
          </svg>
        </a>
      </td>
      <td style="line-height: 12pt; height: auto;">
        <span style="font-weight: bold;">
          <a href="/" style="color: black;">VapeIndex</a>
        </span>
        <span style="color: black; margin: 0 0.5em;">|</span>
        <a href="/products" style="color: black;">products</a>
        <span style="color: black; margin: 0 0.5em;">|</span>
        <a href="/strains" style="color: black;">strains</a>
        <span style="color: black; margin: 0 0.5em;">|</span>
        <a href="/posts" style="color: black;">discussions</a>
        <span style="color: black; margin: 0 0.5em;">|</span>
        <a href="/submit" style="color: black;">submit</a>
      </td>
      <td style="text-align: right;">
        <a href="/login" style="color: black;">login</a>
      </td>
    </tr>
  </table>
</header>
